<script type="text/template" id="templates/dialogs/import.html">
  <div class="dialog-wrapper">
    <h3 class="dialog-head">
      Import and Merge
      <span class="dialog-close">X</span>
    </h3>
    <div class="dialog-content import-wizard-container"></div>
  </div>
</script>

<script type="text/template" id="import-image-import">
<div class="import-step-container">
  <div>
    <form action="" method="POST" name="import-image-form">
      <div class="import-section">
        <span class="dialog-section-title">Name :</span><span class="import-image-file-name"></span>
      </div>
      <div class="import-section">
        <div class="import-section-preview"></div>
      </div>
      <div class="import-section">
        <label class="dialog-section-radio-label">
          <input class="dialog-section-radio" name="import-type" value="single" type="radio" checked="checked">
          Import as single image
        </label>
      </div>
      <div class="import-section import-subsection">
        <span class="dialog-section-title">Resize to</span>
        <input type="text" class="textfield import-size-field" name="resize-width"/>x
        <input type="text" class="textfield import-size-field" name="resize-height"/>
      </div>
      <div class="import-section import-subsection">
        <span class="import-section-title">Smooth resize</span>
        <input type="checkbox" class="checkbox-fix" checked="checked" name="smooth-resize-checkbox" value="1"/>
      </div>
      <div class="import-section">
        <label class="dialog-section-radio-label">
          <input class="dialog-section-radio" name="import-type" value="sheet" type="radio">
          Import as spritesheet
        </label>
      </div>
      <div class="import-section import-subsection">
        <span class="dialog-section-title">Frame size</span>
        <input type="text" class="textfield import-size-field" name="frame-size-x"/>x
        <input type="text" class="textfield import-size-field" name="frame-size-y"/>
      </div>
      <div class="import-section import-subsection">
        <span class="dialog-section-title">Offset</span>
        <input type="text" class="textfield import-size-field" name="frame-offset-x"/>x
        <input type="text" class="textfield import-size-field" name="frame-offset-y"/>
      </div>
    </form>
  </div>
  <div class="import-step-buttons">
    <button class="import-cancel-button button">cancel</button>
    <button class="import-back-button button">back</button>
    <button class="import-next-button button button-primary">next</button>
  </div>
</div>
</script>

<script type="text/template" id="import-select-mode">
<div class="import-step-container">
  <div class="import-mode">
    <div class="import-mode-title">How do you want to import the new content?</div>
    <label class="import-mode-option">
      <input type="radio" checked="checked" name="import-mode" id="select-mode-replace" value="replace"/>
      <span>Replace your current sprite</span>
    </label>
    <label class="import-mode-option">
      <input type="radio" name="import-mode" id="select-mode-new" value="new"/>
      <span>Create a new sprite</span>
    </label>
    <label class="import-mode-option">
      <input type="radio" name="import-mode" id="select-mode-import" value="merge"/>
      <span>Merge with your existing sprite</span>
    </label>
  </div>

  <div class="import-info">
    <div class="import-preview"></div>
    <div class="import-meta"></div>
  </div>

  <div class="import-step-buttons">
    <button class="import-cancel-button button">cancel</button>
    <button class="import-back-button button">back</button>
    <button class="import-next-button button button-primary">next</button>
  </div>
</div>
</script>

<script type="text/template" id="import-meta-content">
  <div class="import-meta-title">
    <span class="import-meta-label">Imported content details</span>
  </div>
  <div class="import-name">
    <span class="import-meta-label">Name</span>
    <span class="import-meta-value" title={{name}}>{{name}}</span>
  </div>
  <div class="import-dimensions">
    <span class="import-meta-label">Dimensions</span>
    <span class="import-meta-value">{{dimensions}}</span>
  </div>
  <div class="import-frames">
    <span class="import-meta-label">Frames</span>
    <span class="import-meta-value">{{frames}}</span>
  </div>
  <div class="import-layers">
    <span class="import-meta-label">Layers</span>
    <span class="import-meta-value">{{layers}}</span>
  </div>
</script>

<script type="text/template" id="import-adjust-size">
<div class="import-step-container">
  <div>Adjust the size of your import.</div>
  <div>Your sprite is bigger than the imported animation.</div>
  <div class="import-name"></div>
  <div class="import-anchor-container"></div>
  <div class="import-step-buttons">
    <button class="import-cancel-button button">cancel</button>
    <button class="import-back-button button">back</button>
    <button class="import-next-button button button-primary">next</button>
  </div>
</div>
</script>

<script type="text/template" id="import-insert-location">
<div class="import-step-container">
  <div class="insert-mode-container">
    <div>The imported animation contains <span class="insert-frames-count">X</span> frames</div>
    <div>
      <input type="radio" name="insert-mode" id="insert-mode-new" value="new" checked="checked"/>
      <label for="insert-mode-new">Add new frames</label>
    </div>
    <div>
      <input type="radio" name="insert-mode" id="insert-mode-mix" value="mix"/>
      <label for="insert-mode-mix">Insert in existing frames</label>
    </div>
  </div>
  <div>Select the frame from which the new content will be added</div>
  <div class="insert-frame-container">
    <div class="insert-frame-preview"></div>
    <div class="insert-frame-meta"></div>
  </div>
  <div class="import-step-buttons">
    <button class="import-cancel-button button">cancel</button>
    <button class="import-back-button button">back</button>
    <button class="import-next-button button button-primary">next</button>
  </div>
</div>
</script>

<script type="text/template" id="import-invalid-file">
<div class="import-step-container">
  <div>THIS IS AN INVALID FILEZ</div>
  <div class="import-step-buttons">
    <button class="import-cancel-button button">cancel</button>
    <button class="import-back-button button">back</button>
    <button class="import-next-button button button-primary">next</button>
  </div>
</div>
</script>
