<script type="text/template" id="templates/dialogs/merge.html">
  <div class="dialog-wrapper">
    <h3 class="dialog-head">
      Import and Merge
      <span class="dialog-close">X</span>
    </h3>
    <div class="dialog-content merge-wizard-container"></div>
  </div>
</script>

<script type="text/template" id="merge-select-file">
<div class="merge-step-container">
  <div>
    Import an existing piskel animation or image and merge it with your current sprite.
  </div>
  <div class="select-mergefile-container">
    <button class="button button-primary select-mergefile-button">Select file</button>
    <div>Accepts .piskel, .png, .bmp, .gif, .jpg and.jpeg</div>
    <input style="display:none"
          type="file" class="select-mergefile-input"
          value="file" accept=".piskel,.png,.bmp,.gif,.jpg,.jpeg"/>
  </div>
  <div class="mergefile-container">
    <div class="mergefile-missing">No file selected!</div>
    <div class="mergefile">
      <div class="mergefile-preview"></div>
      <div class="mergefile-meta"></div>
    </div>
  </div>
  <div class="merge-step-buttons">
    <button class="merge-cancel-button button">cancel</button>
    <button class="merge-next-button button button-primary">next</button>
  </div>
</div>
</script>

<script type="text/template" id="mergefile-meta-content">
  <div class="mergefile-name">
    <span class="mergefile-meta-label">Name</span>
    <span class="mergefile-meta-value" title={{name}}>{{name}}</span>
  </div>
  <div class="mergefile-dimensions">
    <span class="mergefile-meta-label">Dimensions</span>
    <span class="mergefile-meta-value">{{dimensions}}</span>
  </div>
  <div class="mergefile-frames">
    <span class="mergefile-meta-label">Frames</span>
    <span class="mergefile-meta-value">{{frames}}</span>
  </div>
  <div class="mergefile-layers">
    <span class="mergefile-meta-label">Layers</span>
    <span class="mergefile-meta-value">{{layers}}</span>
  </div>
</script>

<script type="text/template" id="merge-adjust-size">
<div class="merge-step-container">
  <div>Adjust the size of your import.</div>
  <div>Your sprite is bigger than the imported animation.</div>
  <div class="mergefile-name"></div>
  <div class="merge-anchor-container"></div>
  <div class="merge-step-buttons">
    <button class="merge-cancel-button button">cancel</button>
    <button class="merge-back-button button">back</button>
    <button class="merge-next-button button button-primary">next</button>
  </div>
</div>
</script>

<script type="text/template" id="merge-insert-location">
<div class="merge-step-container">
  <div class="insert-mode-container">
    <div>The imported animation contains <span class="insert-frames-count">X</span> frames</div>
    <div>
      <input type="radio" checked="checked"name="insert-mode" id="insert-mode-new" value="new" checked="checked"/>
      <label for="insert-mode-new">Add new frames</label>
    </div>
    <div>
      <input type="radio" name="insert-mode" id="insert-mode-mix" value="mix"/>
      <label for="insert-mode-mix">Insert in existing frames</label>
    </div>
  </div>
  <div>Select the frame from which the new content will be added</div>
  <div class="insert-frame-container">
    <div class="insert-frame-preview"></div>
    <div class="insert-frame-meta"></div>
  </div>
  <div class="merge-step-buttons">
    <button class="merge-cancel-button button">cancel</button>
    <button class="merge-back-button button">back</button>
    <button class="merge-next-button button button-primary">next</button>
  </div>
</div>
</script>

<script type="text/template" id="merge-invalid-file">
<div class="merge-step-container">
  <div>THIS IS AN INVALID FILEZ</div>
  <div class="merge-step-buttons">
    <button class="merge-cancel-button button">cancel</button>
    <button class="merge-back-button button">back</button>
    <button class="merge-next-button button button-primary">next</button>
  </div>
</div>
</script>
