#dialog-container.merge {
  width: 550px;
  height: 360px;
  top : 50%;
  left : 50%;
  position : absolute;
  margin-left: -275px;
  margin-top: -180px;
}

.merge .dialog-content {
  font-size: 1.3em;
}

.merge-step-container {
  width: 100%;
  height: 100%;
  padding: 20px 10px 10px;
  box-sizing: border-box;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  background: #444;
}

.merge-step-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: right;
}

/**
 * SELECT FILE
 */

.select-mergefile-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.select-mergefile-button {
  flex-shrink: 0;
  margin-right: 10px;
}

.mergefile-container {
  margin: 20px 0;
  height: 70px;
}

.mergefile,
.has-merge-piskel .mergefile-missing {
  display: none;
}

.mergefile-missing {
  display: block;
}

.has-merge-piskel .mergefile {
  display: flex;
}

.mergefile-preview {
  width: 200px;
  height: 115px;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #666;
}

.mergefile-preview canvas {
  max-width: 100%;
  max-height: 100%;
}

.mergefile-meta {
  width: 50%;
  padding-left: 10px;
  box-sizing: border-box;
}

.mergefile-meta > div {
  height: 22px;
  display: flex;
  margin-bottom: 5px;
}

.mergefile-meta-value,
.mergefile-meta-label {
  padding: 2px 4px;
  border: 1px solid gold;
}

.mergefile-meta-label {
  border-radius: 2px 0 0 2px;
  color: var(--highlight-color);
  border-right-width: 0;
}

.mergefile-meta-value {
  border-radius: 0 2px 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mergefile-missing {
  text-align: center;
  line-height: 70px;
  font-style: italic;
  color: #aaa;
}

/**
 * INSERT LOCATION
 */

.insert-mode-container {
  margin-bottom: 10px;
}

.insert-frame-container {
  margin: 10px 0;
}
